version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - server

  server:
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env