version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env    # теперь все переменные из .env подтягиваются сюда
    environment:
      # Можно оставить пустым, .env перекроет
      DATABASE_URL: ${DATABASE_URL}