version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql://database_name_jmr5_user:oOuUdAQUSpFYJbNb8GW81JMsfwOH98XE@dpg-d5mf7g6mcj7s73c20mvg-a.virginia-postgres.render.com/database_name_jmr5"