{% extends 'base.html' %}
{% block title %}Список URL{% endblock %}

{% block content %}
  <h1>Список URL</h1>
  <a href="{{ url_for('new_url') }}" class="btn btn-primary mb-3">
    Добавить URL
  </a>

  <table class="table" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Адрес</th>
        <th>Дата добавления</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
        <tr>
          <td>{{ url[0] }}</td>
          <td>
            <a href="{{ url_for('show_url', url_id=url[0]) }}">
              {{ url[1] }}
            </a>
          </td>
          <td>{{ url[2] }}</td>
          <td>
            {{ url[3] if url[3] is not none else '—' }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}